.container {
  margin: 20px;
  border: 1px solid #ededed;
  border-bottom: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-container {
  overflow: auto;
}

.status-available {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
