table {
  display: table;
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

thead {
  border-top: 1px solid darkgray;
  text-align: left;
  font-size: 20px;
}

th {
  font-weight: 400;
}

input[type="checkbox"]:indeterminate + label:before {
  border: #1c4cbd;
  background-color: #1c4cbd;
}

tbody > tr:hover {
  background-color: #f5f5f5;
}

tr {
  border-bottom: 1px solid darkgray;
  line-height: 40px;
}

td,
th {
  padding-left: 20px;
}
