.row-selected {
  background-color: #ededed !important;
}

table {
  display: table;
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

thead {
  border-top: 1px solid #ededed;
  text-align: left;
  font-size: 20px;
}

td > .status {
  padding-left: 0px;
}

th {
  font-weight: 400;
}

tbody > tr:hover {
  background-color: #f5f5f5;
}

tr {
  border-bottom: 1px solid #ededed;
  line-height: 40px;
}

td,
th {
  padding-left: 20px;
}
